{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-4">
        <div class="card-body m-auto">
            <form action="">
                <label>Email:</label>
                <input type="email" name="email" classs="form-control mb-2" placeholder="email@exemplo.com">
                <label>Senha:</label>
                <input type="password" name="senha" class="form-control mb-2" placeholder="Insira sua senha...">
                <button type="submit" class="btn btn-danger btn-block w-100">Entrar:</button>
            </form>
            <hr>
            <h6>Nao possui conta?<a href="#">Cadastre-se</a></h6>
        </div>
    </div>
</div>