<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Games</title>
  </head>
  <body>
    <h1>Bem-vindo a página de jogos!</h1>
    <hr />
    <p>Jogo mais jogado no momento:</p>
    {% for key, value in game.items() %}
    <details>
      <summary>{{key}}</summary>
      <p>{{value}}</p>
    </details>
    {% endfor %}
    <p>O jogo {{game['Titulo']}} tem {{2025 - game['ano']}} anos</p>
    <hr />
    <p>Jogadores online:</p>
    <ol>
      {% for jogador in jogadores %}
      <li>{{jogador}}</li>
      {% endfor %}
    </ol>
    <hr />
    {# Criar uma seção para exibir uma lista de outros jogos sendo jogados no
    momento. A lista deve possuir 7 games #}
    <p>Outros jogos:</p>
    <ul>
      {% for outrosJogos in jogos %}
      <li>{{outrosJogos}}</li>
      {% endfor %}
    </ul>
    <hr />

    <a href="/">Ir para página inicial</a>
  </body>
</html>
