<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <header>
        <h1 style="text-align: center; background-color: black; color: white;">DODIRU</h1>
        <hr>
    </header>
    <!-- Conteudo das outras paginas -->
    {% block content %}

    {% endblock content %}

    <footer>
    <hr>
    <p style="text-align: center;">Todos os direitos reservados &reg</p>
    </footer>
</body>
</html>