<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botoide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Conteudo das outras paginas -->
    {% block content %}

    {% endblock content %}
    <footer>
    <p style="text-align: center; color: #353535;">Botoide Corporation&TRADE;, Botoide&TRADE;, Siririnica FM&TRADE; são propiedades intelectuais da Botoide Corporation&TRADE; <br>Todos direitos reservados 2025&reg</p>
    </footer>
</body>
</html>