{% extends 'base.html' %}
{% block content %}
<div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row">
        {% for img in imgList %}
        <div class="col-md-3 m-auto">
            <div class="card" style="width: 16rem;">
                <img src="{{img.img_src}}">
                <div class="card-body">
                    
                   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}