{% extends 'base.html' %} {% block content %}
    <h2>Cadastro de Consoles</h2>
    <hr>
    <form action="{{url_for('cadconsoles')}}", method="post">
        <label>Nome:</label>
        <input type="text" name="nome" class="form-control" required></input>
        <label>Valor:</label>
        <input type="text" name="valor" class="form-control" required></input>
        <label>País</label>
        <input type="text" name="pais" class="form-control" required></input>
        <br>
        <input type="submit" class="btn btn-success" value="Cadastrar"></input>
    </form>
    <br>
    <hr>
    <h4>Consoles Cadastrados: </h4>
    <table
    class="table table-bordered table-hover"
>
    <thead>
        <tr>
            <th>Nome:</th>
            <th>Valor:</th>
            <th>País de Origem:</th>
        </thead>
        <tbody>
            {% for console in consoleList %}
            <tr>
                <td>{{console.Nome}}</td>
                <td>{{console.Valor}}</td>
                <td>{{console.País}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </tr>
    </table>
    <hr>
    <br>
    <a href="/">Voltar para página Inicial</a>
{% endblock content %}